**/.idea/*
target/*
*.iml

home-work-1/lesson_docs/*

# python compiled files
**/__pycache__/*
*.pyc

# login/password files, tmp files
**/vk_login_password.txt
**/vk_config.v2.json

# notebook tmp files
**/.ipynb_checkpoints

# too large file (for hw-1, part 3 of tasks)
home-work-1/en_openfoodfacts_org_products.tsv

# scrapped_data
**/scrapped_data/*
scrapped_data.txt