**/.idea/*
target/*
*.iml

# login/password files
**/vk_login_password.txt

# vk tmp files
**/vk_config.v2.json

# notebook tmp files
**/.ipynb_checkpoints

# too large file
home-work-1/en_openfoodfacts_org_products.tsv